body{
    font-family: "Poppins", sans-serif;
}
.nav-brand{
 font-size: 50px;
 font-weight: 900;
}
.nav-text{
    font-size: 18px;
    
}

.navbar{
    font-weight: 700;
    color: white;
}

.mynavbar{
    background-color:#4741af ;
    color: white;

}
.navbar-brand, .nav-link{
    color: white;
}
.images{
    height: 590px;
    width: 510px;
}

.banner-heading{
    font-weight: 800;
    font-size: 72px;

}
.banner{
    background-color: #4741af;
    color: white;

}
.banner-btn{
    background-color:#6c63ff;
    color: white;
    font-weight:600;
    padding: 12px 58px;
    border-radius: 30px;
}

.banner-btn:hover{
    color:#4741af;
    background-color: white;
}
.banner-text{
    font-size: 24px;
}
.text-subtitle{
  color: #6c63ff;
  font-weight: 700;
  font-size: 27px;
}
.text-title{
    font-weight: 700;
    font-size:48px;
}
.text-link{
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #6c63ff;   
}

.text-p{
    font-weight: 400;
    font-size:18px;
}
.about-img{
    margin-left: -404px;
}
.service-img-background{
    background-color: rgb(243, 249, 251);
    border-radius: 50%;
}
.service-img-background img{
    margin-top:-100px;
    margin-left:46px;
}
.service-icon{
    background-color: #6c63ff;
    color: white;
    padding: 13px;
    border-radius: 50%;
    width: 53px;
    display: block;
    height: 53px;
    text-align: center;
        transition: all 0.8s ease;
    
}
.service-title{
    font-size: 21px;
    font-weight: 700;
}

.service-card:hover span {
    transform: translateX(50px);
}

/* why choose us section */
.full-section{
    background-color:rgb(243, 249, 251) ;
}
/* products */
.text-product-link{
    font-weight: 700;
    text-decoration: none;
    color: black;
     
}
.product-cards{
    border-bottom: 4px solid #6c63ff ;
}
/* Features */
.feature-icon{
    background-color: #6c63ff;
    color: white;
    padding: 13px;
    border-radius: 50%;
    width: 53px;
    display: block;
    height: 53px;
    text-align: center;

        transition: all 0.7s ease;

}

.feature-card:hover span{
    transform: translateX(25px);
    background-color: #4741af;
}